.uploader {
  width: 50%;
  margin: 30px auto;
  line-height: 50px;
  text-align: center;
  border: 2px dashed blue;
  background: #f1f1f1;
  padding: 20px; }
  .uploader:hover {
    background: #ddd; }
  .uploader .uploader__header {
    display: flex;
    line-height: 100px;
    justify-content: center; }
  .uploader .uploader__button {
    margin: auto;
    text-align: center;
    transform: translateX(30px); }
  .uploader .progressBar__progress {
    margin: auto;
    display: inline-block; }
  .uploader .progressBar__percent {
    display: inline-block; }
